html, body, #root, .react-root {
  height: 100%;
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items : center;
}

.centered {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px, solid white;
  color: white;
  font-size: 20px;
}

.BLUE{
  background-color: blue;
}

.RED{
  background-color: red;
}

.ORANGE{
  background-color: orange;
}
